<h1>id: <%= @message.id %> のメッセージ詳細ページ</h1>


  <div class="message-show">
    <p>タイトル：<%= @message.title %></p>
    <p><%= simple_format(@message.content) %></p>
    
    <%= link_to '一覧に戻る', messages_path, class:"btn btn-outline-secondary" %>
    <%= link_to 'このメッセージを編集する', edit_message_path(@message), class:"btn btn-outline-dark" %>
    <%= link_to 'このメッセージを削除する', @message, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class:"btn btn-outline-danger" %>
  </div>
  
  <div class="comment-form">
    <h4>コメント</h4>
    <%= render 'comments/comment_create' %>
  </div>
  <div class="comment-index">
    <%= render 'comments/comment_index' %>
  </div>
 
  