<% if users.any? %>
  <ul class="media-list">
    <% users.each do |user| %>
      <li class="media">
        <div class="media-left">
          <div>
            <% if user.image? %>
              <%= image_tag user.image.url %>
            <% else %>
              <%= image_tag("/images/icon/no-image.png") %>
            <% end %>
          </div>
        </div>
        <div class="media-body">
          <div>
            <%= link_to user.name , user_path(user) %>
          </div>
          <div>
            <%= user.campus %>
            <%= user.department %>
            <%= user.grade %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>