<div class="user-profile">
  <div class="icon text-center">
    <%= form_for(@user) do |f| %>
        <% if @user.image? %>
          <%= image_tag @user.image.url, onClick:"$('#upfile').click()" %>
        <% else %>
          <%= image_tag '/images/no-image.png', onClick:"$('#upfile').click()" %>
        <% end %>
      <%= f.file_field :image, style:"display:none;", id:"upfile"%>
      <%= f.hidden_field :image_cache %>
      
      <script type="text/javascript">
          $('input[type=file]').on('change', function (e) {
              console.log(e.target.files);
              if (e.target.files[0].size > 0) {
                  $(this).parents('form').submit();
              }
          });
      </script>

    <% end %>
  </div>
  <div class="name text-center">
    <h1><%= @user.name %></h1>
  </div>
  <div class="status text-center">
    <ul>
      <li>
        <div class="status-label">Events</div>
        <div id="events_count" class="status-value">
          <%= @count_events %>
        </div>
      </li>
      <li>
        <div class="status-label">Free Space</div>
        <div id="events_count" class="status-value">
          <%= @count_messages %>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="event">
  <h2>Event</h2>
  <%= render 'events/event_table' %>
</div>
<div class="message">
  <h2>Free Space</h2>
  <%= render 'messages/message_table' %>
</div>