<div class="row">
  <div class="col-lg-9 offset-lg-1">

      <%= form_for(@event) do |f| %>
        <%= render 'layouts/error_messages', model: f.object %>
          <div class="form-group">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_field :title, class: 'form-control' %>
          </div>
          <div class="form-row">
            <div class="form-group">
              <%= f.label :image, '画像ファイル：'%>
              <%= f.file_field :image %>
            </div>
            <div class="form-group">
              <%= f.label :deadline, '締切日指定：' %>
              <%= raw sprintf(
                f.datetime_select(
                  :deadline,# プロパティ名
                  {
                    start_year:     Time.zone.now.prev_year.year,# 選択可能な開始年
                    end_year:       Time.zone.now.next_year.year,# 選択可能な終了年
                    default:        Time.zone.now,# デフォルトの年
                    use_two_digit_numbers: true,# 月日を2桁の値で表示
                    date_separator: '%s',# 年, 月
                    datetime_separator: '%s',# 日
                    time_separator: '%s'# 時
                  },# オプション
                  { class: 'date-select' }# htmlオプションを指定する場合は別で指定
                ),
                '年 ', '月 ', '日 ', '時 ') + '分'# 分 は最後につけ加えられる
              %>
            </div>
          </div>
          <div class="form-group">
          <%= f.label :content, '内容' %>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
          </div>
      
        <%= f.submit '投稿', class: 'btn btn-primary btn-block' %>
      <% end %>

   
  </div>
</div>